# ----------------------
# Java / Gradle
# ----------------------
build/
**/build/
.gradle/
bin/
*.class
out/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Environment / Secrets
# ----------------------
.env
.env.*
!.env.example

# ----------------------
# Spring Boot config
# ----------------------
# Ignore local configs with secrets
application.yml
application-*.yml

# But allow example configs
!application-example.yml

# ----------------------
# IDE (IntelliJ)
# ----------------------
.idea/
*.iml

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db


pay.png